<header
  class="flex items-center ml-64 h-16 px-lg w-[calc(100%-16rem)] bg-surface-bright dark:bg-on-surface border-b border-outline-variant dark:border-outline sticky top-0 z-40 justify-end"
>
  <div class="flex items-center gap-lg">
    <button
      (click)="logout()"
      class="flex items-center gap-sm text-on-surface-variant hover:text-primary transition-colors active:scale-95 transition-transform"
    >
      <span class="material-symbols-outlined" data-icon="account_circle">account_circle</span>
      <span class="font-body-sm text-body-sm font-medium">Cerrar sesión</span>
    </button>
  </div>
</header>
